# FastAPI y servidor ASGI
fastapi==0.100.0
uvicorn==0.23.1

# Conexión a Snowflake
snowflake-connector-python

# Machine Learning
scikit-learn
joblib
numpy
pandas

# Visualización y explicabilidad
shap

# Manejo de variables de entorno
python-dotenv


mlflow
